/vendor
/node_modules
/.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/hot
/public/storage
*.log
*.zip
*.sql
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
php82.zip
test_*.php
cacert.pem
.env.staging
.env.production
debug_*.php
fix_*.php
check_*.php
list_*.php
reset_*.php
